@import "src/common/styles/sass/variables";

.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0 30px 0;

  .icon {
    width: 100%;
    height: 300px;
    display: flex;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 15px;

    &:hover {
      transition: .5s;
      box-shadow: 0 0 10px 0 #f2eef5 inset, 0 0 10px 4px #ebe7ef;
    }

    .link {
      width: 100%;
      height: 100%;
    }
  }

  .projectTitle {
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  .description {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
  }
}











