.skill {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0 20px 0;

  .icon {
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
  }
}

