.portfolioBlock {
    height: auto;
    background-color: #343a40;
}

.portfolioContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.portfolioContainer h2 {
    background-color: maroon;
}

.portfolio {
    border: solid 1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}