@import "src/common/styles/sass/mixins";

.portfolioBlock {
  height: auto;

  .portfolioContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .portfolio {
      @include flex(flex, space-between, flex-start);
      border: solid 1px;
      width: 100%;
      flex-wrap: wrap;
      @media all and (max-width: 1254px) {
        justify-content: center;
      }
    }
  }
}