.mainBlock {
    height: 100vh;
    background-color: #343a40;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainBlockText {
    width: 280px;
    background-color: grey;
    font-family: 'Work Sans', sans-serif;
}

.mainBlockText span, .mainBlockText p {
    text-transform: uppercase;
}

.mainBlockPhoto {
    width: 280px;
    height: 400px;
    background-color: maroon;
}

@media all and (max-width: 770px) {
    .mainContainer {
        flex-direction: column;
        justify-content: center;
    }

    .mainBlockText {
        text-align: center;
    }
}