@import "src/common/styles/sass/variables";

.skillsBlock {
  height: auto;
  background-color: $bgSecondColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      border: solid 1px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}


/*
@media all and (max-width: 650px) {
    .skills {
        justify-content: center;
    }
}*/
