@import "src/common/styles/sass/variables";

.skillsBlock {
  height: auto;
  background-position: center;
  background-size: cover;
  background-image: url("./../../assets/image/skill.png");

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}


/*
@media all and (max-width: 650px) {
    .skills {
        justify-content: center;
    }
}*/
