.header {
    height: 80px;
    background-color: #c3aed5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media all and (max-width: 770px) {
    .header {
        justify-content: center;
    }
}