@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.header {
  @include flex(flex, flex-end, center);
  position: sticky;
  top: 0;
  height: 80px;
  background-color: $bgSecondColor;
  @media all and (max-width: 770px) {
    justify-content: center;
  }
}