.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  @media all and (max-width: 770px) {
    margin: 0;
  }

  & a {
    color: white;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      transition: width 0.2s;
    }

    &:hover::after {
      width: 80%;
    }
  }
}


