.footerBlock {
    height: 80px;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightslategrey;
}

.footerContainer h4 {
    background-color: maroon;
}

.items {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #a66b9b;
    border: 1px solid;
}



