@import "src/common/styles/sass/mixins";

.footerBlock {
  height: 80px;
  background-position: center;
  background-size: cover;
  background-image: url("./../../assets/image/header.png");

  .footerContainer {
    justify-content: center;

    .socialMediaIcons {
      @include flex(flex, space-between, center);
      width: 300px;

      .link {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 50%;

        &:hover{
          background-color: white;
        }

        .icon {
          height: 30px;
          width: 30px;
          color: white;
          border-radius: 50%;

          &:hover {
            transition: .2s;
            transform: scale(1.2);
            box-shadow: 0 0 10px 0 #f2eef5 inset, 0 0 10px 4px #ebe7ef;
            border: 3px solid white;
            color: black;
          }
        }
      }
    }
  }
}










