@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock {
  height: auto;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  background-image: url("./../../assets/image/header.png");

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .items {
      @include flex(flex, space-between, center);
      width: 270px;
      margin-bottom: 30px;

      .link {
        text-decoration: inherit;

        .icon {
          height: 40px;
          width: 40px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
        }
      }
    }
  }
}









