@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerBlock {
  height: auto;
  background-color: $bgColor;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .items {
      @include flex(flex, space-between, center);
      width: 270px;
      border: 1px solid;
      margin-bottom: 30px;

      .icon {
        height: 40px;
        width: 40px;
        background-color: #a66b9b;
        border: 1px solid;
      }
    }
  }
}









