.contactBlock {
    height: auto;
    background-color: #aba3a3;
}

.contactContainer {
    flex-direction: column;
}

.contactContainer h2 {
    background-color: maroon;
}

.form {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    height: 25px;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.textarea {
    width: 100%;
    margin-bottom: 20px;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

.button {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 40px 40px #8a2be2 inset, 0 0 0 0 #8a2be2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    transition: .15s ease-in-out;
    max-width: 100px;
}

.button:hover {
    box-shadow: 0 0 10px 0 #8a2be2 inset, 0 0 10px 4px #8a2be2;
    color: black;
    transition: .5s;
    cursor: pointer;
    border: 1px solid #8a2be2;
}





