@import "src/common/styles/sass/variables";

.contactBlock {
  height: auto;
  background-position: center;
  background-size: cover;
  background-image: url("./../../assets/image/skill.png");

  .contactContainer {
    flex-direction: column;
    justify-content: flex-start;

    .form {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media all and (max-width: 770px) {
        width: 305px;
      }
      @media all and (max-width: 400px) {
        width: 100%;
      }

      .input, .textarea {
        width: 100%;
        margin-bottom: 20px;
        background-color: #CCCCCC;
        border-radius: 5px;
        padding: 5px;
      }

      .button {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: 0 0 40px 40px #414041 inset, 0 0 0 0 #edeaf1;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
        transition: .2s ease-in-out;
        max-width: 100px;
        margin: 10px 0 40px 0;

        &:hover {
          box-shadow: 0 0 10px 0 #f2eef5 inset, 0 0 10px 4px #ebe7ef;
          color: #aba3a3;
          transition: .5s;
          cursor: pointer;
          border: 1px solid #aba3a3;
        }
      }
    }
  }
}