.contactBlock {
  height: auto;
  background-position: center;
  background-size: cover;
  background-image: url("./../../assets/image/skill.png");

  .contactContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;

    form {
      width: 90%;
      max-width: 600px;

      .inputGroup {
        margin-bottom: 30px;
        position: relative;

        input, textarea {
          width: 100%;
          padding: 10px;
          outline: 0;
          border: 1px solid white;
          color: white;
          background: transparent;
          font: 15px 'Roboto Mono', monospace;
          position: relative;
          z-index: 1;

          &:focus ~ label,
          &:valid ~ label {
            top: -35px;
            font-size: 14px;
          }
        }

        label {
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          padding: 10px;
          color: white;
          cursor: text;
          transition: 0.2s;
        }
      }

      button {
        padding: 10px 0;
        color: white;
        outline: none;
        background: transparent;
        border: 1px solid white;
        width: 100%;
        cursor: pointer;
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inputGroup {
        flex-basis: 48%;
      }
    }
  }
}